:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 210 150 255;
  --oui-color-primary-light: 240 205 255;
  --oui-color-primary-darken: 165 110 230;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 200 120 250;
  --oui-color-link-light: 230 180 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 250 100 150;
  --oui-color-danger-light: 255 170 200;
  --oui-color-danger-darken: 240 80 130;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 50 220 180;
  --oui-color-success-light: 120 240 210;
  --oui-color-success-darken: 10 180 140;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 220 80;
  --oui-color-warning-light: 255 240 150;
  --oui-color-warning-darken: 255 180 40;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 35 50;
  --oui-color-fill-active: 45 50 60;

  --oui-color-base-1: 100 90 140;
  --oui-color-base-2: 90 80 130;
  --oui-color-base-3: 75 65 100;
  --oui-color-base-4: 65 60 110;
  --oui-color-base-5: 60 55 100;
  --oui-color-base-6: 50 45 90;
  --oui-color-base-7: 45 40 80;
  --oui-color-base-8: 35 30 70;
  --oui-color-base-9: 25 20 60;
  --oui-color-base-10: 15 10 50;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 250 100 150;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 50 220 180;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 50 0 120;
  --oui-gradient-primary-end: 200 120 250;

  --oui-gradient-secondary-start: 90 42 140;
  --oui-gradient-secondary-end: 210 150 255;

  --oui-gradient-success-start: 10 90 70;
  --oui-gradient-success-end: 50 220 180;

  --oui-gradient-danger-start: 160 24 90;
  --oui-gradient-danger-end: 250 100 150;

  --oui-gradient-brand-start: 230 200 255;
  --oui-gradient-brand-end: 190 120 240;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 160 60 10;
  --oui-gradient-warning-end: 255 220 80;

  --oui-gradient-neutral-start: 30 35 25;
  --oui-gradient-neutral-end: 45 50 40;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}